/* Model.36 style sheet */

body
{
    text-align:center;
    padding:50px;
}

#placeholder
{
    width:25%;
    height:25%;
    border-width:6px;
    border-style:solid;
    border-color:#fda2c9;
}

p
{
    font-family:courier;
}