/* Model.36 style sheet */

@font-face
{
    font-family:'akkreg';
    src: url('/fonts/akkreg.otf');
}

body
{
    padding:30px;
}

p
{
    font-family:'akkreg';
    font-size:10pt;
}

a:link
{
    color:#888888;
    text-decoration:none;
}

a:visited
{
    color:#888888;
    text-decoration:none;
}

a:hover
{
    color:#000000;
    text-decoration:underline;
}

a:active
{
    color:#000000;
    text-decoration:underline;
}

#spacer
{
    padding:10px;
}

#wrap 
{
   text-align:center;
}

#arizona
{
    width:360px;
    height:auto;
}

#radiologo
{
    width:300px;
    height:auto;
    padding-bottom:10px;
}

#cover
{
    width:620px;
    height:auto;
}

#tracks
{
    color:#888888
}