/* Model.36 style sheet */

body
{
    padding:30px;
}

p
{
    font-family:courier;
    font-size:10pt;
}

#wrap 
{
   text-align:center;
}

#arizona
{
    width:82%;
    height:82%;
}

#radiologo
{
    width:300px;
    height:auto;
}

#cover
{
    width:375px;
    height:auto;
}